*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif; 
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}
.navbar-brand img{
    height: 60px;
    padding-left: 20px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px !important ;
}
.navbar-toggler{
    outline: none !important;
}
/*--------Banner section--------*/
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}
.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    font-family: 'Press Start 2P', cursive;  
}
.botom-img{
    width: 100%
}
#curve{
    width: 100%;
}
#curve path{
    fill: #fff;
}
#log-in{
background-image: linear-gradient(to right,#a517ba, #5f1782);
    color: #fff;
    padding-top: 15%;
}
.register-left{
    text-align: center;
    color: #fff;
    padding:30px; 
}
.register-left img{
    margin-top: 60px;
    margin-bottom: 18px;
    width:80px;
    animation: mover 1s infinite alternate;
}
.register-left p{
    padding: 20px 20px 0;
 }   
.register-left .btn-primary{
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background:#F8F8F8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px; 
}
.register-left .btn-primary:hover{
    background: #F0E3FF;
    color:#B77EFE;
}
.register-right{
    border: none;
    background: #F8F8F8;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    padding: 50px;  
}
.register-right h2{
    text-align: center;
    margin-bottom: 10px;
    color: #555; 
}
.register-form{
    padding: 30px;
}
.register-right .btn-primary{
    float: right;
    border-radius: 1.5rem;
    border: none;
    width: 120px;
    background:#a517ba;
    font-weight: 400;
    color: #fff ;
    margin-top: 20px;
    padding: 10px; 
}
.register-right .btn-primary:hover{
    background: #5f1782;
}
@keyframes mover{
    0%{transform: translateY(0);}
    100 %{transform: translateY(-20px);}
}

















